@import '../../../general//palette';

.signup-step {
  margin-top: 10rem;
  border-radius: 1.25rem;
  padding: 6rem 0;
  background-color: $signup-step-bgd;
  &-text {
    text-align: center;
    font-size: 3.25rem;
    font-weight: bolder;
  }
  &-content {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
}
@media (min-width: 350px) and (max-width: 600px) {
  .signup-step {
    margin-top: 0;
    padding: 2.5rem 0;
    max-width: 24.25rem;
    margin-left: 1.25rem;
    margin-right: 1.25rem;

    &-text {
      padding: 0.125rem;
      text-align: center;
      font-size: 1.4rem;
      font-weight: 1000;
      line-height: rem;
    }
    &-content {
      margin-top: 1.583rem;
    }
  }
}
