@import '../../../general//palette';

.signup-step {
  margin-top: 10rem;
  border-radius: 1.25rem;
  padding: 6rem 0;
  background-color: $signup-step-bgd;
  &-text {
    text-align: center;
    font-size: 3.25rem;
    font-weight: bolder;
  }
  &-content {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
}
