@import '../general/palette';

.non-selected-tag {
  border-radius: 2rem;
  border-color: $black;
  border: 1px solid;
  margin: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.selected-tag {
  @extend .non-selected-tag;
  background-color: $white !important;
}
