@import '../general/_palette';

.header {
  display: flex;
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  padding: 2rem;
  align-items: center;
  justify-content: space-between;
  a {
    color: $black;
  }
  .title {
    .text {
      font-size: 3rem;
      font-weight: 700;
    }
  }
  &-route {
    display: flex;
    column-gap: 1rem;
  }
}
