@import '../../../general/palette';

.signup-form-step-3 {
  padding: 5rem;
  margin-top: 1.25rem;
  border-radius: 1.5rem;
  background-color: $signup-step-three-bgd;
  .text-row {
    display: flex;
    column-gap: 5rem;
    align-items: center;
    .lable {
      font-size: 0.75rem;
    }
    .title {
      font-size: 1.5rem;
    }
  }
  .drag-upload-container {
    height: 18rem;
    margin: 2rem 2rem 0rem 6.5rem;
    border: 2px solid;
    .ant-upload-drag {
      background-color: inherit;
    }
    .ant-upload-drag-container {
      .message {
        height: 40%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        font-size: 2rem;
        .sub-message {
          font-size: small;
          font-weight: 500;
        }
      }
      .upload-container {
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        .upload-button {
          border: 1px solid $black;
          padding: 0.5rem 1.5rem;
          border-radius: 2rem;
          display: flex;
          align-items: center;
          justify-content: center;
          .anticon {
            color: $text-color;
          }
          &-text {
            color: $text-color;
            font-size: 2rem;
          }
        }
      }
    }
  }
}
@media (min-width: 350px) and (max-width: 600px) {
  .signup-form-step-3 {
    height: 29.764rem;
    padding: 0 1rem;
    max-width: 24.25rem;
    margin: 1.25rem 1rem 0rem 1rem;
    .text-row {
      .title {
        font-size: 1.25rem;
      }
      span {
        width: 100%;
      }
      flex-direction: column;
      padding-top: 2.703rem;
    }
    .drag-upload-container {
      margin-left: 0;
      margin-right: 0;
      margin-top: 2.5rem;
      margin-bottom: 3.254rem;
      .ant-upload-drag-container {
        .message {
          font-size: 1.25rem;
        }
        .sub-message {
          margin-top: 1.034rem;
        }
        .upload-container {
          .upload-button {
            width: 9.063rem;
            height: 2rem;
            &-text {
              font-size: 0.63rem;
              font-weight: 700;
            }
            .anticon svg {
              width: 0.938rem;
            }
          }
        }
      }
    }
  }
}
