$sidebar-background: #babaa4;
$white: #fff;
$border-color: #dcdfe4;
$border-color-dark: #909090;
$table-column-bgd: #ebeaea;
$approved-color: #5fc026;
$pending-color: #d2ac5b;
$declined-color: #f04222;
$filters-bgd: #2d2d2c;
$black: #000;
$signup-step-bgd: #e1bfe0;
$signup-step-one-bgd: #c4ff78;
$signup-step-two-bgd: #babaa4;
$signup-step-three-bgd: #3ca2f380;
$text-color: #00000080;
$signup-landing-page-color: #3ca2f373;
$home-page-red-color: #ff4d24;
$home-page-section-5-bdg: #a7d5fa;
